{
  "openapi": "3.0.0",
  "info": {
    "title": "LiveChat API",
    "description": "API documentation for the LiveChat platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://livechat.priyashu.in/api/v1",
      "description": "Live Server"
    },
    {
      "url": "http://localhost:5000/api/v1",
      "description": "Local Development Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ListenerHomeCustomerCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "profileImage": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "currentLevel": {
            "type": "integer"
          },
          "totalXp": {
            "type": "integer"
          },
          "isOnline": {
            "type": "boolean"
          },
          "liveStatus": {
            "type": "string",
            "enum": [
              "ONLINE",
              "OFFLINE",
              "BUSY"
            ]
          },
          "lastInteractionAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ListenerHomeSection": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListenerHomeCustomerCard"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    },
    {
      "name": "Home",
      "description": "User home screen feed"
    },
    {
      "name": "Match",
      "description": "Instant partner matching for customers"
    },
    {
      "name": "Users",
      "description": "User profile management"
    },
    {
      "name": "Listeners",
      "description": "Listener-specific endpoints"
    },
    {
      "name": "Languages",
      "description": "Language CRUD operations"
    },
    {
      "name": "Countries",
      "description": "Country CRUD and public picker list"
    },
    {
      "name": "Wallets",
      "description": "Wallet and transaction management"
    },
    {
      "name": "Follows",
      "description": "Follow/Unfollow system, favourites, and analytics"
    },
    {
      "name": "Company",
      "description": "Company profile and CRUD settings"
    },
    {
      "name": "Gifts",
      "description": "Virtual Gifting, transfers, history, and Admin analytics"
    },
    {
      "name": "Banners",
      "description": "Banner Section Management (Admin CRUD and User Side)"
    },
    {
      "name": "Wishlist",
      "description": "Wishlist management for saving and listing favorite listeners"
    },
    {
      "name": "Calls",
      "description": "Agora audio/video call session management and RTC token generation"
    },
    {
      "name": "XP",
      "description": "XP, Level Progression, Rewards, Leaderboard, and Admin configs"
    },
    {
      "name": "Sticker Categories",
      "description": "Sticker category management — user listing and admin CRUD"
    },
    {
      "name": "Stickers",
      "description": "Sticker management — user listing with filters and admin CRUD"
    },
    {
      "name": "Reviews",
      "description": "Listener reviews and ratings by customers"
    },
    {
      "name": "Feedback",
      "description": "Application feedback — any user submits, admin moderates"
    },
    {
      "name": "Reports",
      "description": "User-to-user reports with admin-managed reasons and moderation"
    },
    {
      "name": "Referrals",
      "description": "Refer & Earn — invite codes, immediate bonus payouts, and admin config"
    },
    {
      "name": "Withdrawals",
      "description": "Coin→INR withdrawals — saved payment methods, requests, and admin approval"
    },
    {
      "name": "Anchor Levels",
      "description": "Listener anchor-level progression with claimable per-level rewards"
    },
    {
      "name": "Notifications",
      "description": "In-app notifications — recipient inbox (own only) and admin send/broadcast"
    },
    {
      "name": "Search",
      "description": "Global search — user-facing listener discovery and full admin-level search across all users and listener profiles"
    },
    {
      "name": "Agent Revenue",
      "description": "Agent commission revenue dashboard APIs"
    },
    {
      "name": "Agent Analytics",
      "description": "Agent-scoped analytics summary and charts"
    },
    {
      "name": "Agent Dashboard",
      "description": "Agent live dashboard KPIs, charts, and activity"
    },
    {
      "name": "Agent Settlements",
      "description": "Agent commission settlement history"
    },
    {
      "name": "Admin Dashboard",
      "description": "Unified admin executive dashboard summary, charts, busy listeners, and active chat sessions"
    },
    {
      "name": "Roles & Permissions",
      "description": "Admin RBAC — roles, permission catalog, audit logs"
    },
    {
      "name": "Platform Analytics",
      "description": "Admin platform analytics for revenue, users, listeners, sessions"
    },
    {
      "name": "Communications",
      "description": "Admin session monitoring and communication config"
    },
    {
      "name": "Chats",
      "description": "Chat conversations, sessions, and media messages"
    },
    {
      "name": "Live Rooms",
      "description": "Live streaming rooms and Agora tokens"
    },
    {
      "name": "Avatars",
      "description": "Avatar catalog and unlocks"
    },
    {
      "name": "Daily Rewards",
      "description": "Daily login rewards and admin config"
    },
    {
      "name": "Coin Packs",
      "description": "Coin recharge packs"
    }
  ],
  "paths": {
    "/auth/request-otp": {
      "post": {
        "summary": "Request OTP for login",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobileNumber",
                  "type",
                  "age",
                  "gender"
                ],
                "properties": {
                  "mobileNumber": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "CUSTOMER",
                      "LISTENER"
                    ]
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "MALE",
                      "FEMALE",
                      "OTHER"
                    ],
                    "description": "Required for all logins. LISTENER type must be FEMALE only."
                  },
                  "age": {
                    "type": "integer",
                    "minimum": 18,
                    "maximum": 120,
                    "example": 25,
                    "description": "User age in years (must be 18+)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully"
          }
        }
      }
    },
    "/auth/verify-otp": {
      "post": {
        "summary": "Verify OTP",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobileNumber",
                  "otp",
                  "type"
                ],
                "properties": {
                  "mobileNumber": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "CUSTOMER",
                      "LISTENER"
                    ]
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "MALE",
                      "FEMALE",
                      "OTHER"
                    ],
                    "description": "Optional; if sent must match request-otp. LISTENER type must be FEMALE only."
                  },
                  "inviteCode": {
                    "type": "string",
                    "description": "Optional referral code — credits bonus coins to both users immediately on signup"
                  },
                  "age": {
                    "type": "integer",
                    "minimum": 18,
                    "maximum": 120,
                    "example": 25,
                    "description": "Optional; if sent must match the age from request-otp (must be 18+)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Unified login for Admin and Agent",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "admin@chatcorner.app"
                  },
                  "password": {
                    "type": "string",
                    "example": "admin123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "401": {
            "description": "Invalid email or password"
          },
          "403": {
            "description": "Account is blocked or deleted"
          }
        }
      }
    },
    "/auth/guest-login": {
      "post": {
        "summary": "Guest login with age verification and device ID",
        "description": "Creates a permanent guest account on first call. On subsequent calls with the same deviceId, restores the existing session. User must be 18+.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "deviceId",
                  "age"
                ],
                "properties": {
                  "deviceId": {
                    "type": "string",
                    "description": "Unique device identifier generated by the client (UUID or similar)",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "inviteCode": {
                    "type": "string",
                    "description": "Optional referral code — credits bonus coins to both users immediately on signup"
                  },
                  "age": {
                    "type": "integer",
                    "minimum": 18,
                    "maximum": 120,
                    "example": 25,
                    "description": "User age in years (must be 18+)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Guest account created or session restored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Guest account created"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "user": {
                          "type": "object"
                        },
                        "isNewUser": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User is under 18 or account is blocked"
          }
        }
      }
    },
    "/auth/link-account": {
      "post": {
        "summary": "Link phone number to guest account",
        "description": "Verifies OTP and permanently links a phone number to the guest account, upgrading it to a full account. Request OTP first via POST /auth/request-otp.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobileNumber",
                  "otp"
                ],
                "properties": {
                  "mobileNumber": {
                    "type": "string",
                    "pattern": "^[0-9]{10}$",
                    "example": "9876543210"
                  },
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6,
                    "example": "123456"
                  },
                  "countryCode": {
                    "type": "string",
                    "default": "+91",
                    "example": "+91"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number linked successfully"
          },
          "401": {
            "description": "Invalid or expired OTP"
          },
          "409": {
            "description": "Phone number already linked to another account"
          }
        }
      }
    },
    "/auth/direct-login": {
      "post": {
        "summary": "Authenticate listener directly via magic link token",
        "description": "Exchanges a unique magic login token for a signed JWT access token and user profile.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "3a7b9c..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link login successful"
          },
          "401": {
            "description": "Invalid token"
          },
          "404": {
            "description": "Token or user not found"
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "summary": "Get current user profile",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile fetched successfully"
          }
        }
      },
      "put": {
        "summary": "Update current user profile",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  },
                  "age": {
                    "type": "integer",
                    "minimum": 18,
                    "maximum": 120,
                    "example": 25,
                    "description": "User age in years (must be 18+)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Soft delete current user account",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted successfully"
          }
        }
      }
    },
    "/users/me/settings": {
      "get": {
        "summary": "Get my settings / preference toggles",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Settings fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "notifications": {
                          "type": "boolean",
                          "example": true
                        },
                        "acceptIncomingCalls": {
                          "type": "boolean",
                          "example": true
                        },
                        "dndChats": {
                          "type": "boolean",
                          "example": false
                        },
                        "dndVoiceCall": {
                          "type": "boolean",
                          "example": false
                        },
                        "dndVideoCall": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update my settings (partial — send only the toggles to change)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "notifications": {
                    "type": "boolean"
                  },
                  "acceptIncomingCalls": {
                    "type": "boolean"
                  },
                  "dndChats": {
                    "type": "boolean"
                  },
                  "dndVoiceCall": {
                    "type": "boolean"
                  },
                  "dndVideoCall": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated successfully"
          },
          "400": {
            "description": "No valid toggle provided"
          }
        }
      }
    },
    "/listeners/agent": {
      "get": {
        "summary": "Get listeners created by agent",
        "description": "Returns a paginated list of listeners under the authenticated agent's account.",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across listener first/last name, username, email, and mobile number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter listeners created on or after this date (ISO 8601). Matches the profile createdAt.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter listeners created on or before this date (ISO 8601). Matches the profile createdAt.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country filter: accepts a Country ObjectId, ISO code (e.g. \"IN\"), or country name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kycStatus",
            "in": "query",
            "description": "Filter by KYC verification status.",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "UNDER_REVIEW",
                "APPROVED",
                "REJECTED"
              ]
            }
          },
          {
            "name": "accountStatus",
            "in": "query",
            "description": "Account status filter: active (KYC approved & not blocked), blocked (user blocked), or pending (KYC pending).",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "blocked",
                "pending"
              ]
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by the listener's anchor level (0 = no anchor level reached).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "liveStatus",
            "in": "query",
            "description": "Filter by live presence/availability.",
            "schema": {
              "type": "string",
              "enum": [
                "ONLINE",
                "OFFLINE",
                "BUSY"
              ]
            }
          },
          {
            "name": "profileStatus",
            "in": "query",
            "description": "Filter by profile completion status.",
            "schema": {
              "type": "string",
              "enum": [
                "incomplete",
                "completed"
              ]
            }
          },
          {
            "name": "minRevenue",
            "in": "query",
            "description": "Minimum total earnings (revenue) of the listener.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "maxRevenue",
            "in": "query",
            "description": "Maximum total earnings (revenue) of the listener.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "totalEarnings",
                "availability",
                "kycStatus"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listeners fetched successfully"
          }
        }
      },
      "post": {
        "summary": "Create listener by agent",
        "description": "Agent creates a new listener profile (as a draft/incomplete or submitted/completed status).",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "username",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Rahul Verma"
                  },
                  "username": {
                    "type": "string",
                    "example": "rahulv"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "rahul@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+91 9999999999"
                  },
                  "country": {
                    "type": "string",
                    "default": "India",
                    "example": "India"
                  },
                  "profileStatus": {
                    "type": "string",
                    "enum": [
                      "incomplete",
                      "completed"
                    ],
                    "default": "completed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Listener created successfully"
          },
          "400": {
            "description": "Email, username, or phone already in use"
          }
        }
      }
    },
    "/listeners/agent/stats": {
      "get": {
        "summary": "Get listener stats for agent dashboard",
        "description": "Returns aggregated statistics (total, active, online, pending) for listeners managed by the authenticated agent.",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent stats fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Agent stats fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 1
                        },
                        "active": {
                          "type": "integer",
                          "example": 0
                        },
                        "onlineNow": {
                          "type": "integer",
                          "example": 0
                        },
                        "pendingVerification": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/listeners/profile": {
      "get": {
        "summary": "Get listener profile",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Listener profile fetched"
          }
        }
      },
      "put": {
        "summary": "Create or Update listener profile",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bio": {
                    "type": "string"
                  },
                  "profilePhotos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "introVideo": {
                    "type": "string",
                    "format": "binary",
                    "description": "Upload intro video file (MP4, MOV, WebM up to 50MB)"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "Friendly Talk",
                        "Relationship Advice",
                        "Motivation",
                        "Mental Wellness",
                        "Career Guidance",
                        "Casual Chat"
                      ]
                    }
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Array of Language ObjectIds"
                    }
                  },
                  "interests": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of strings representing listener interests"
                  },
                  "chatRate": {
                    "type": "number"
                  },
                  "voiceRate": {
                    "type": "number"
                  },
                  "videoRate": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          }
        }
      }
    },
    "/listeners/kyc": {
      "post": {
        "summary": "Submit KYC documents",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentFront": {
                    "type": "string",
                    "format": "binary"
                  },
                  "documentBack": {
                    "type": "string",
                    "format": "binary"
                  },
                  "selfieImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "KYC submitted"
          }
        }
      }
    },
    "/listeners/rates": {
      "put": {
        "summary": "Update calling/chat rates",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chatRate": {
                    "type": "number"
                  },
                  "voiceRate": {
                    "type": "number"
                  },
                  "videoRate": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rates updated"
          }
        }
      }
    },
    "/listeners/availability": {
      "put": {
        "summary": "Update availability status",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "availability": {
                    "type": "string",
                    "enum": [
                      "ONLINE",
                      "OFFLINE",
                      "BUSY"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability updated"
          }
        }
      }
    },
    "/listeners/availability/toggle": {
      "patch": {
        "summary": "Toggle availability ONLINE ⇄ OFFLINE",
        "description": "Listener-only. Flips current availability: ONLINE → OFFLINE, any other state → ONLINE. No request body. Syncs the presence service.",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Availability toggled (message reflects the new status)"
          },
          "404": {
            "description": "Listener profile not found"
          }
        }
      }
    },
    "/listeners/dashboard": {
      "get": {
        "summary": "Listener quick dashboard (today)",
        "description": "Listener-only. Returns today's total earnings (session coins + gift earnings) and active minutes.",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "todayEarnings": {
                          "type": "number",
                          "example": 1240
                        },
                        "activeMinutes": {
                          "type": "number",
                          "example": 86
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Listener only"
          }
        }
      }
    },
    "/listeners/dashboard/overview": {
      "get": {
        "summary": "Listener dashboard overview (period stats + growth chart)",
        "description": "Listener-only. Period-filtered stat cards — coins earned (sessions + gifts), total coin (current wallet balance), minutes, gifts — plus an earnings growth series (today→hourly, week→7 days, month→30 days).",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "week",
                "month"
              ],
              "default": "today"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard overview fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string",
                          "example": "week"
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "coinsEarned": {
                              "type": "number",
                              "example": 8420
                            },
                            "totalCoins": {
                              "type": "number",
                              "example": 12860
                            },
                            "minutes": {
                              "type": "number",
                              "example": 540
                            },
                            "gifts": {
                              "type": "object",
                              "properties": {
                                "count": {
                                  "type": "integer",
                                  "example": 32
                                },
                                "coins": {
                                  "type": "number",
                                  "example": 2100
                                }
                              }
                            }
                          }
                        },
                        "growth": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "06-24"
                              },
                              "earnings": {
                                "type": "number",
                                "example": 1240
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Listener only"
          }
        }
      }
    },
    "/listeners/dashboard/sessions": {
      "get": {
        "summary": "Listener recent sessions (period-filtered, paginated)",
        "description": "Listener-only. Paginated communication sessions for the logged-in listener within the selected period.",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "week",
                "month"
              ],
              "default": "today"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent sessions fetched successfully"
          },
          "403": {
            "description": "Listener only"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Get all users with filters and pagination (admin)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "CUSTOMER",
                "LISTENER",
                "ADMIN"
              ]
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users fetched successfully"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Get user by ID (admin)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User fetched successfully"
          }
        }
      }
    },
    "/listeners": {
      "get": {
        "summary": "Get all listeners with filters (admin)",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "kycStatus",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listeners fetched successfully"
          }
        }
      }
    },
    "/listeners/{id}/kyc": {
      "post": {
        "summary": "Approve or Reject Listener KYC (admin)",
        "tags": [
          "Listeners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kycStatus"
                ],
                "properties": {
                  "kycStatus": {
                    "type": "string",
                    "enum": [
                      "APPROVED",
                      "REJECTED"
                    ]
                  },
                  "rejectionReason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "KYC status updated"
          }
        }
      }
    },
    "/users/{id}/block": {
      "post": {
        "summary": "Block or unblock a user (admin)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "isBlocked"
                ],
                "properties": {
                  "isBlocked": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User blocked status updated"
          }
        }
      }
    },
    "/users/admin": {
      "post": {
        "summary": "Create a new Admin or Sub-Admin (admin)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "password",
                  "mobileNumber",
                  "roleId"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "roleId": {
                    "type": "string",
                    "description": "MongoDB ObjectId of the assigned Role"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Admin created successfully"
          }
        }
      }
    },
    "/users/listener": {
      "post": {
        "summary": "Create a new Listener (admin)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "mobileNumber",
                  "age",
                  "gender"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "MALE",
                      "FEMALE",
                      "OTHER"
                    ]
                  },
                  "age": {
                    "type": "integer",
                    "minimum": 18,
                    "maximum": 120,
                    "example": 25,
                    "description": "User age in years (must be 18+)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Listener created successfully"
          }
        }
      }
    },
    "/languages": {
      "get": {
        "summary": "Get all languages",
        "tags": [
          "Languages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "isActive",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Languages fetched successfully"
          }
        }
      },
      "post": {
        "summary": "Create a new language (Admin)",
        "tags": [
          "Languages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "code"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "nativeName": {
                    "type": "string"
                  },
                  "flagUrl": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Language created successfully"
          }
        }
      }
    },
    "/languages/{id}": {
      "get": {
        "summary": "Get a language by ID",
        "tags": [
          "Languages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Language fetched successfully"
          }
        }
      },
      "put": {
        "summary": "Update a language (Admin)",
        "tags": [
          "Languages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "nativeName": {
                    "type": "string"
                  },
                  "flagUrl": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Language updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete a language (Admin)",
        "tags": [
          "Languages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Language deleted successfully"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "summary": "Get active countries (public)",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "Countries fetched successfully",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Countries fetched successfully",
                  "data": [
                    {
                      "_id": "507f1f77bcf86cd799439011",
                      "name": "India",
                      "code": "IN",
                      "dialCode": "+91",
                      "flagUrl": "https://flagcdn.com/in.svg",
                      "isActive": true
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a country (Admin)",
        "tags": [
          "Countries"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "code",
                  "dialCode"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "India"
                  },
                  "code": {
                    "type": "string",
                    "example": "IN",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "dialCode": {
                    "type": "string",
                    "example": "+91"
                  },
                  "flagUrl": {
                    "type": "string",
                    "example": "https://flagcdn.com/in.svg"
                  },
                  "isActive": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "example": {
                "name": "India",
                "code": "IN",
                "dialCode": "+91",
                "flagUrl": "https://flagcdn.com/in.svg",
                "isActive": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Country created successfully"
          },
          "400": {
            "description": "Duplicate code/dialCode or validation error"
          },
          "403": {
            "description": "ADMIN role required"
          }
        }
      }
    },
    "/countries/admin/stats": {
      "get": {
        "summary": "Country admin stats",
        "tags": [
          "Countries"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Country stats fetched successfully",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "total": 5,
                    "active": 4,
                    "inactive": 1,
                    "usersLinked": 120,
                    "listenersLinked": 40
                  }
                }
              }
            }
          },
          "403": {
            "description": "ADMIN role required"
          }
        }
      }
    },
    "/countries/admin": {
      "get": {
        "summary": "Paginated country list (Admin)",
        "tags": [
          "Countries"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "example": 20
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "example": "ind"
          },
          {
            "in": "query",
            "name": "isActive",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "code",
                "dialCode",
                "createdAt"
              ]
            },
            "example": "name"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "example": "asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Countries fetched successfully",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "data": {
                    "docs": [
                      {
                        "_id": "507f1f77bcf86cd799439011",
                        "name": "India",
                        "code": "IN",
                        "dialCode": "+91",
                        "isActive": true
                      }
                    ],
                    "meta": {
                      "totalDocuments": 1,
                      "currentPage": 1,
                      "totalPages": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ADMIN role required"
          }
        }
      }
    },
    "/countries/{id}": {
      "get": {
        "summary": "Get country by ID (Admin)",
        "tags": [
          "Countries"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Country fetched successfully"
          },
          "404": {
            "description": "Country not found"
          }
        }
      },
      "put": {
        "summary": "Update country (Admin)",
        "tags": [
          "Countries"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "India"
                  },
                  "code": {
                    "type": "string",
                    "example": "IN"
                  },
                  "dialCode": {
                    "type": "string",
                    "example": "+91"
                  },
                  "flagUrl": {
                    "type": "string",
                    "example": "https://flagcdn.com/in.svg"
                  },
                  "isActive": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "example": {
                "name": "India",
                "dialCode": "+91",
                "isActive": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Country updated successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Country not found"
          }
        }
      },
      "delete": {
        "summary": "Delete country (Admin)",
        "tags": [
          "Countries"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Country deleted successfully"
          },
          "400": {
            "description": "Cannot delete country linked to users or listeners"
          },
          "404": {
            "description": "Country not found"
          }
        }
      }
    },
    "/countries/{id}/toggle": {
      "patch": {
        "summary": "Toggle country active status (Admin)",
        "tags": [
          "Countries"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Country toggled successfully",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Country deactivated successfully",
                  "data": {
                    "_id": "507f1f77bcf86cd799439011",
                    "isActive": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/coin-packs": {
      "get": {
        "summary": "Get all Coin Packs",
        "tags": [
          "Coin Packs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of all coin packs"
          }
        }
      },
      "post": {
        "summary": "Create a new Coin Pack (Admin)",
        "tags": [
          "Coin Packs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "coins",
                  "price"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "coins": {
                    "type": "number"
                  },
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "default": "INR"
                  },
                  "badge": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "referralBonusCoins": {
                    "type": "number",
                    "default": 0,
                    "description": "Free coins both referrer and referred friend get when the friend first buys this pack"
                  },
                  "isActive": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Coin pack created successfully"
          }
        }
      }
    },
    "/coin-packs/{id}": {
      "get": {
        "summary": "Get Coin Pack by ID",
        "tags": [
          "Coin Packs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin pack details"
          }
        }
      },
      "put": {
        "summary": "Update Coin Pack (Admin)",
        "tags": [
          "Coin Packs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "coins": {
                    "type": "number"
                  },
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "badge": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "referralBonusCoins": {
                    "type": "number",
                    "description": "Free coins both referrer and referred friend get when the friend first buys this pack"
                  },
                  "isActive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coin pack updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete Coin Pack (Admin)",
        "tags": [
          "Coin Packs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin pack deleted successfully"
          }
        }
      }
    },
    "/coin-packs/{id}/toggle": {
      "patch": {
        "summary": "Toggle Coin Pack status (Admin)",
        "tags": [
          "Coin Packs"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin pack activated/deactivated successfully"
          }
        }
      }
    },
    "/wallets/me": {
      "get": {
        "summary": "Get current user's wallet details",
        "tags": [
          "Wallets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet details fetched successfully"
          }
        }
      }
    },
    "/wallets/me/coin-transactions": {
      "get": {
        "summary": "Get current user's coin transaction history",
        "tags": [
          "Wallets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "CREDIT",
                "DEBIT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin transactions fetched successfully"
          }
        }
      }
    },
    "/wallets/me/payment-transactions": {
      "get": {
        "summary": "Get current user's payment transaction history",
        "tags": [
          "Wallets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "SUCCESS",
                "FAILED",
                "REFUNDED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment transactions fetched successfully"
          }
        }
      }
    },
    "/wallets/payments/create-order": {
      "post": {
        "summary": "Create a Coin Pack Purchase Order",
        "tags": [
          "Wallets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "coinPackId"
                ],
                "properties": {
                  "coinPackId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment order created successfully"
          }
        }
      }
    },
    "/wallets/payments/webhook": {
      "post": {
        "summary": "Razorpay Payment Webhook Callback",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          }
        }
      }
    },
    "/wallets/payments/webhook-mock": {
      "post": {
        "summary": "Mock Razorpay Webhook (Testing Only)",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderId"
                ],
                "properties": {
                  "orderId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mock webhook processed successfully"
          }
        }
      }
    },
    "/follows/{listenerId}": {
      "post": {
        "summary": "Follow a listener",
        "description": "Follow a listener. Idempotent — duplicate follows are silently acknowledged without error.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listenerId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The User ObjectId of the listener to follow"
          }
        ],
        "responses": {
          "200": {
            "description": "Followed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followed": {
                          "type": "boolean"
                        },
                        "alreadyFollowing": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cannot follow yourself / Can only follow listeners"
          },
          "404": {
            "description": "Listener not found"
          }
        }
      },
      "delete": {
        "summary": "Unfollow a listener",
        "description": "Unfollow a listener. Returns error if not currently following.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listenerId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The User ObjectId of the listener to unfollow"
          }
        ],
        "responses": {
          "200": {
            "description": "Unfollowed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "unfollowed": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "You are not following this listener"
          }
        }
      }
    },
    "/follows/following": {
      "get": {
        "summary": "Get my following list",
        "description": "Get paginated list of listeners the current user is following, with populated listener profile data.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Following list fetched successfully"
          }
        }
      }
    },
    "/follows/favorites": {
      "get": {
        "summary": "Get my favourite listeners",
        "description": "Get paginated list of listeners the current user has marked as favourite (subset of following list).",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Favourites list fetched successfully"
          }
        }
      }
    },
    "/follows/followers/{listenerId}": {
      "get": {
        "summary": "Get followers of a listener",
        "description": "Get paginated list of users following a specific listener.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listenerId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The User ObjectId of the listener"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Followers list fetched successfully"
          }
        }
      }
    },
    "/follows/counts/{userId}": {
      "get": {
        "summary": "Get follow counts for a user",
        "description": "Get follower count, following count, and whether the user is a listener. Reads from denormalized fields for O(1) performance.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The User ObjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "Follow counts fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followingCount": {
                          "type": "integer"
                        },
                        "followersCount": {
                          "type": "integer"
                        },
                        "isListener": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/follows/status/{listenerId}": {
      "get": {
        "summary": "Check follow status",
        "description": "Check if the current authenticated user follows a specific listener and whether they are marked as favourite.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listenerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Follow status fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "isFollowing": {
                          "type": "boolean"
                        },
                        "isFavorite": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/follows/favorite/{listenerId}": {
      "patch": {
        "summary": "Toggle favourite status",
        "description": "Toggle a followed listener as favourite/not favourite. Must already be following the listener.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listenerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Favourite status toggled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "isFavorite": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "You must follow this listener before marking as favourite"
          }
        }
      }
    },
    "/follows/top": {
      "get": {
        "summary": "Get top followed listeners (Admin)",
        "description": "Analytics endpoint — returns listeners sorted by follower count in descending order.",
        "tags": [
          "Follows"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Number of top listeners to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Top followed listeners fetched"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      }
    },
    "/company/profile": {
      "get": {
        "summary": "Get primary company profile",
        "description": "Retrieve the main company details, links, policy documents, and logos. Publicly accessible.",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Company profile details retrieved successfully"
          }
        }
      }
    },
    "/company": {
      "get": {
        "summary": "Get all company records (Admin)",
        "description": "List all company profiles with pagination.",
        "tags": [
          "Company"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies fetched successfully"
          }
        }
      },
      "post": {
        "summary": "Create a new company record (Admin)",
        "description": "Create a new company profile with custom settings, links, and policies.",
        "tags": [
          "Company"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "logo": {
                    "type": "string"
                  },
                  "favicon": {
                    "type": "string"
                  },
                  "tagline": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "subEmail": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phoneAlt": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "socialLinks": {
                    "type": "object",
                    "properties": {
                      "facebook": {
                        "type": "string"
                      },
                      "instagram": {
                        "type": "string"
                      },
                      "twitter": {
                        "type": "string"
                      },
                      "linkedin": {
                        "type": "string"
                      },
                      "youtube": {
                        "type": "string"
                      }
                    }
                  },
                  "policies": {
                    "type": "object",
                    "properties": {
                      "privacyPolicy": {
                        "type": "string"
                      },
                      "termsAndConditions": {
                        "type": "string"
                      },
                      "refundPolicy": {
                        "type": "string"
                      },
                      "aboutUs": {
                        "type": "string"
                      },
                      "contactUs": {
                        "type": "string"
                      }
                    }
                  },
                  "supportEmail": {
                    "type": "string"
                  },
                  "supportPhone": {
                    "type": "string"
                  },
                  "gstin": {
                    "type": "string"
                  },
                  "cin": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created successfully"
          }
        }
      }
    },
    "/company/{id}": {
      "get": {
        "summary": "Get company record by ID",
        "tags": [
          "Company"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company fetched successfully"
          }
        }
      },
      "put": {
        "summary": "Update company record by ID (Admin)",
        "tags": [
          "Company"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "logo": {
                    "type": "string"
                  },
                  "favicon": {
                    "type": "string"
                  },
                  "tagline": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "subEmail": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phoneAlt": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "socialLinks": {
                    "type": "object",
                    "properties": {
                      "facebook": {
                        "type": "string"
                      },
                      "instagram": {
                        "type": "string"
                      },
                      "twitter": {
                        "type": "string"
                      },
                      "linkedin": {
                        "type": "string"
                      },
                      "youtube": {
                        "type": "string"
                      }
                    }
                  },
                  "policies": {
                    "type": "object",
                    "properties": {
                      "privacyPolicy": {
                        "type": "string"
                      },
                      "termsAndConditions": {
                        "type": "string"
                      },
                      "refundPolicy": {
                        "type": "string"
                      },
                      "aboutUs": {
                        "type": "string"
                      },
                      "contactUs": {
                        "type": "string"
                      }
                    }
                  },
                  "supportEmail": {
                    "type": "string"
                  },
                  "supportPhone": {
                    "type": "string"
                  },
                  "gstin": {
                    "type": "string"
                  },
                  "cin": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete company record by ID (Admin)",
        "tags": [
          "Company"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company deleted successfully"
          }
        }
      }
    },
    "/gifts": {
      "get": {
        "summary": "Get all active virtual gifts",
        "tags": [
          "Gifts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string",
              "enum": [
                "REGULAR",
                "PREMIUM",
                "18+",
                "SPECIAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "isActive",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gifts list fetched successfully"
          }
        }
      },
      "post": {
        "summary": "Create a new virtual gift (Admin)",
        "tags": [
          "Gifts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "coin",
                  "icon"
[...]
